*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body{
    background-attachment:inherit;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.content{
    background-color: orange;
    width: 70%;
    padding: 20px;
    margin: 60px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.p{
    font-size: 20px;
    color: black;
}
.box{
    width: 900px;
    height: 600px;
    padding: 100px;
    margin: 100px auto;
    box-shadow: red;
    border: 10px solid;

    background-image:url(../images/kente.jpg);
    background-size:cover;
}
.square{
    width: 900px;
    height: 900px;
    padding: 200px;
    margin: 100px auto;
    box-shadow: red;
    border: 10px solid;

    background-image: url(../images/african.jpg);
    background-size: cover;
}
.btn{
    border: 1px solid #3498db;
    background:peru;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;


}

.btn2{
    border: 1px solid #3498db;
    background:peru;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}

h1{
    text-align: center;
    font-style: italic;
    color: black;
    background: peru;
}



